*{
	margin:0px;
	padding:0px;
}
a{
        color: white;
        text-decoration: none;
    }
.menu{
          background-image:url(../image/bg.gif);
          background-repeat: no-repeat;
          width:1200px;
          height:100px;
    }
ul{
        list-style-type: none;
    }
li{
        color: #b9f605;
        float: left;
        padding: 30px 25px;
}
.specil{
        color: #fdb306;
}